<h1>You profile</h1>

<div>
Username: {{username}}
First Name:  {{firstName}}
Last Name:  {{lastName}}
Type of service provided: {{serviceType.name}}

Address: {{firstName}}
Post Code: {{postCode}}
City: {{city}}


<a href="/helper-profile/edit"> Edit my profile </a>

</div>