<div class="global-body-margin-top">

<div class="specific-profile-container">

<div>
<h4> My Profile</h4>

<div class="container identity-big-bloc row">

    <div class="profile-photo">
          <img class="user-photo" src="{{user.photo}}">
    </div>

    <div class="identity-container">
        <div class="identity-bloc">
          <div>Username: {{user.userName}} </div>
          <div>First Name:  {{user.firstName}} </div>
          <div>Last Name:  {{user.lastName}} </div>
        </div>
    </div>
</div>

    <div class="identity-details-container"></div>
        <div>
          <div>City: {{user.city}} </div>
          <div>Email: {{user.email}} </div>
        </div>
    </div>


<div class="profile-type">
Type of service provided: {{user.serviceType.name}}
</div>

<a class="submit-button" href="/h-profile/{{loggedUser._id}}/edit"> Edit my profile </a>

<a class="submit-button" href="/my-h-profile/{{user._id}}/edit"> Edit my profile </a>

</div>
</div>
</div>