<div class="global-body-margin-top">


<h1>Profile</h1>

<div>
Username: {{user.userName}}
First Name:  {{user.firstName}}
Last Name:  {{user.lastName}}
Type of service provided: {{serviceType.name}}

Address: {{firstName}}
Post Code: {{postCode}}
City: {{city}}


<a href="/helper-profile/edit"> Edit my profile </a>

</div>
</div>
