<div class="global-body-margin-top">

<div class="specific-profile-container">

<div>
<h4>Profile</h4>

  <div class="profile-photo">
      <img class="user-photo" src="{{photo}}">
  </div>

  <div class="identity">
     Username: {{userName}}
      First Name:  {{firstName}}
      Last Name:  {{lastName}}
      City: {{city}}
</div>

<div class="profile-type">
Type of help needed: {{needType.name}}
</div>

<div class="contact">
  Contact quickly{{firstName}} to support him. Don't wait, he really needs you <i class="fas fa-heart"></i><i class="fas fa-heart"></i> <i class="fas fa-heart"></i> ! <br>
<address>
  <a href="mailto:ironhack@ironhack.com"></a>
</address>
</div>



<a class="submit-button" href="/helper-profile/edit"> Edit my profile </a>


</div>
</div>
</div>