<div class="global-body-margin-top">


<div class="specific-profile-container">

<div class='container global-profile-view'>
    <div class="col-sm-2 profile-photo">
              <img class="user-photo" src="{{otherUser.photo}}">
    </div>

<div class="col-sm-6">
    <div class="container identity-big-bloc">
     
        <div class="identity-container">
            <div class="identity-bloc">
              <h4 class='profile-title'> My Profile</h4>
              <ul>
              <li>Username: {{otherUser.userName}} </li>
              <li>First Name:  {{otherUser.firstName}} </li>
              <li>Last Name:  {{otherUser.lastName}} </li>
              <li>City: {{otherUser.city}} </li>
             <li>Email: {{otherUser.email}} </li>
              <li>Type of help needed: {{otherUser.needType.name}} </li>
             </ul>
            </div>
        </div>
    </div>
</div>


<div class="col-sm-4">
  <div class="bloc-description-link">
        <div class="description-profile">
        <h4 class='contact-type'>  Description: </h4>
        <p class='description-profile-text'> {{otherUser.description}} </p>
        </div>

          <div class="contact">
      <h4 class='contact-type'> Contact: </h4>
      <p class='contact-text'>
        Contact {{otherUser.firstName}} quickly to support her/him. Don't wait, he/she really needs your help  <i class="fas fa-heart"></i><i class="fas fa-heart"></i> <i class="fas fa-heart"></i> <br>
      <address>
        <a class="contact-mail" href="mailto:{{otherUser.email}}">{{otherUser.email}}</a>
      </address>
      </p>
  </div>
</div>

</div>
</div>
</div>
</div>