<div class="global-body-margin-top">

<div class="specific-profile-container">

<div>
<h4>{{otherUser.userName}}'s Profile</h4>

  <div class="profile-photo">
      <img class="user-photo" src="{{otherUser.photo}}">
  </div>

  <div class="identity">
     Username: {{otherUser.userName}}
      First Name:  {{otherUser.firstName}}
      Last Name:  {{otherUser.lastName}}
      City: {{otherUser.city}}
</div>

<div class="profile-type">
Type of service provided: {{otherUser.serviceType.name}}
</div>

<div class="contact">
   <h4> Contact</h4>
  Contact {{otherUser.firstName}} quickly, she/he will be happy to support you <i class="fas fa-heart"></i><i class="fas fa-heart"></i> <i class="fas fa-heart"></i> ! <br>
<address>
  <a href="mailto:{{otherUser.email}}">{{otherUser.email}}</a> {{!-- ironhack@ironhack.com --}}
</address>
</div>

</div>
</div>
</div>